.container {
    width: 400px;
    height: 140px;
    
    border: 2px solid pink;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    width: 100px;
    height: 100px;
    margin: 10px;

    background-color: pink;
    border-radius: 5px;
}