.container1 {
    width: 600px;
    height: 110px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container2 {
    width: 600px;
    height: 110px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container3 {
    width: 600px;
    height: 110px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content {
    width: 100px;
    height: 100px;
    margin: 5px;

    background-color: pink;
    border-radius: 5px;
}